#output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body td {
    width: 200px;
    padding: 10px;
}

body {
    padding: 0px;
}

header {
    margin-top: 0px;
    text-align: center;
}

#model input {
    margin-left: 10px;
}

#model label {
    margin-left: 5px;
}

#output {
    margin-bottom: 2em;
}

#msg {
    margin-bottom: 0px;
    margin-left: 5px;
    padding-top: 10px;
}

.color {
    width: 10em;
    height: 4em;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: none;
    margin: 4px
}

#palette {
    margin-top: 10px;
}