html {
    font-size: 24px;
}

x-quiz {
    display: grid;
    padding: 40px;
}

x-question {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
}

x-option {
    display: block;
    margin-left: 1rem;
}

.correct::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    content: ' ✓';
    color: green;
}