.container {
    border: none;
    height: 96vh;
    width: 96vw;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: #232b2b;
}

.container>div {
    display: flex;
}

.generate {
    margin-right: 0;
}

.presets,
.options {
    margin: 1em auto;
}

#subMenu span {
    display: inline;
    width: 100px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    margin-left: 0px;
}

nav div {
    width: 175px;
    background-color: white;
    margin: 0;
    padding: 5px 10px;
    z-index: 1;
}

nav label {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    color: silver;
    font-size: 14px;
}

.right {
    text-align: right;
}

textarea {
    margin-right: 0px;
    padding: 10px;
    width: 100%;
    height: 9ex;
    overflow: hidden;
}

aside {
    background-color: #4d4d4d;
}

header {
    background-color: #3c3c3c
}

aside,
section {
    padding: 10px;
}

section {
    flex-grow: 1;
}

#preview {
    overflow: hidden;
    padding: 0px;
    margin-top: 10px;
    margin-right: auto;
}

nav div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.parameter input {
    width: 5em;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 0;
    padding: 0;
}

h1,
label {
    color: white;
}

h1 {
    padding: 10px;
}

input[type="button"] {
    margin-top: 10px;
    margin-bottom: 15px;
    color: whitesmoke;
    background-color: #1e1e1e;
    padding: 4px 6px;
    border: none;
}

#btnCopy:hover,
#btnGenerate:hover {
    filter: brightness(1.1);
}

.left-bottom label {
    font-size: small;
    color: whitesmoke;
    font-weight: bold;
}

#btnURL {
    width: 100%;
}